.night {
    background-color: #333;
    color: #fff;
}

.lighting {
    background-color: #fff;
    color: #333
}

button {
    border: none;
    background-color: gray;
    color: white;
    padding: 4px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 1rem;
    cursor: pointer;
}

button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}