/* .night {
    background-color: #333;
    color: #fff;
}

.morning {
    background-color: #fff;
    color: #333
} */

:root {
    --primary-color: #f05014;
    --background-color: #000;
}

.ui-dark {
    --primary-color: blue;
    --background-color: white;
}

span button {
    background-color: var(--background-color);
    color: var(--primary-color)
}