/* .night {
    background-color: #333;
    color: #fff;
}

.morning {
    background-color: #fff;
    color: #333
} */

following CSS:

.dark {
  background-color: #333;
  color: #fff;
}
.light {
  background-color: #fff;
  color: #333;
}