.night {
    background-color: #333;
    color: #fff;
}

.lighting {
    background-color: #fff;
    color: #333
}

button {
    border: none;
    padding: 4px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}