.night {
    background-color: #333;
    color: #fff;
}

.lighting {
    background-color: #fff;
    color: #333
}

button {
    border: none;
    background-color: gray;
    color: white;
    padding: 4px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.2s all;
}

button:active {
    transform: scale(1);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}