.exp-wrapper {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
}

.exp-content {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    display: block;
    text-align: center;
}

.exp-text {
    width: auto;
    height: auto;
}
