.exp-wrapper {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
}

.exp-content {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    display: block;
    text-align: center;
}

.profile {
    border-radius: 20%;
    height: auto;
    width: 280px;
    /* insurance */
    margin-right:auto;
    margin-left: auto;
}

.exp-text {
    width: auto;
    height: auto;
}

.react-pdf__Page__canvas {
    margin-right: auto;
    margin-left: auto;
}