.exp-wrapper {
    margin: 0 auto;
    /* 이거다! leftbar 침범 안하게 설정하는 법 */
    /* 현재 CardExperience.css 에 적용중 */
    /* margin-left: 200px; */
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
}

.exp-content {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
}


.exp-text {
    width: auto;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .exp-text .exp-content {
      width: 380px;
      margin: 0;
      margin-bottom: 1rem;
    }
  }