* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: rgb(27, 27, 27);
}

/* to move all cards, edit here */
.container-card {
  display: flex;
  justify-content: center;
  margin-right: 25%;
}

.card {
  background: white;
  color: rgb(27, 27, 27);
  width: 220px;
  height: 400px;
  margin: 10px;
  border-radius: 15px;

}

.card-image {
  background-color: aqua;
  height: 150px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}

.li-wrapper {
  text-align: left;
  margin-top: 1rem;
}

.img-1 {
  background-image: url('../../images/s1.png');
}

.img-2 {
  background-image: url('../../images/s2.jpg');
}

.img-3 {
  background-image: url('../../images/s1.png');
}

.card p {
  padding: 10px;
}