/* .wrapper-card {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem)); */
    gap: 2rem;
    justify-content: center;
  }
  
  .card {
    overflow: hidden;
    box-shadow: 0 2px 20px #e1e5ee;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
  
    &-image {
      width: 100px;
      height: 67px;
    }
  
    &-title {
      padding: 1rem;
    }
  
    &-description {
      padding: 0 1rem;
    }
  
    &-btn {
      padding: 1rem;
      font-family: inherit;
      font-weight: bold;
      font-size: 1rem;
      margin: 1rem;
      border: 2px solid #d50000;
      background: transparent;
      color: #d50000;
      border-radius: 0.2rem;
      transition: background 200ms ease-in, color 200ms ease-in;
    }
  
    &:hover {
      transform: scale(1.02);
    }
  }
   */