* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    background: rgb(27, 27, 27);
  }
  


  .container-card-project {
    display: flex;
    justify-content: center;
    /* to move all cards as container, edit here */
    /* margin-right: 200px; */
    margin-right: 10%;
    margin-left: 10%;
    /* somewhat responsive - if no time to make mobile responsive page with detail */
    flex-wrap: nowrap;
    /* padding-left: 25%; */
  }
  
  .card-project {
    background: rgb(210, 210, 210);
    color: rgb(27, 27, 27);
    width: 100%;
    max-width: 700px;
    min-width: 500px;
    height: 90%;
    margin: 10px;
    margin-left: 220px;
    border-radius: 15px;
    padding-bottom: 2%;
  display: grid;
  }

  .project-button {
    border: none;
    background-color: purple;
    color: white;
    padding: 4px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 1rem;
    cursor: pointer;
  }
  
  .card-image-project {
    background-color: white;
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
  }
  
  .li-wrapper-project {
    text-align: left;
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-right: 1rem;
    line-height: 2.5rem;
    font-size: 1rem;
  }
  
  .li-wrapper-project li::before  {content: "•"; color: #333;
    display: inline-block; width: 1em;
    margin-left: -1em}

  .projectImg-1 {
    background-image: url('../../images/s1.png');
  }
  

  
  .card p {
    padding: 10px;
  }