.edu-wrapper {
    margin: 0 auto;
    /* 이거다! leftbar 침범 안하게 설정하는 법 */
    /* 현재 CardEducation.css 에서 아래 margin-left 대응중 */
    /* margin-left: 200px; */
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
}

.edu-content {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
}


.edu-text {
    width: auto;
    height: auto;
}

/* @media only screen and (max-width: 600px) {
    
.edu-text .edu-content {
    width: 380px;
    height: 500px;
}


} */